name: Release git-treelet

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload script
        uses: svenstaro/upload-release-action@v2
        with:
          file: git-treelet
          overwrite: true
